@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#resultContainer {
    font-family: 'Roboto', sans-serif;
    width: 40rem;
    height: 52rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

#headerContainer {
    width: 100%;
    height: 15%;
    background-color: #121229;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}

#name {
    color: white;
    font-size: 1.5rem;
}

#emailPhoneCont {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}

#email {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#phone {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#workContainer {
     width: 80%;
     height: 12rem;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     gap: .25rem;
}

#workExHeader {
    font-size: 1.65rem;
    font-weight: bold;
    text-decoration: underline;
    color: gray;
}

#workWrapper {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

#jobTitle {
    font-size: 1.3rem;
    font-weight: bold;
}

#companyName {
    font-style: italic;
}

#yearsWorked {
    font-style: italic;
}