@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


#generatedCV {
    width: 30rem;
    height: 42rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    font-family: 'Source Sans Pro';
    gap: 1rem;
}
