@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


#generatedCV {
    width: 30rem;
    height: 42rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    font-family: 'Source Sans Pro';
    gap: .25rem;
}

#cvHeaderContainer {
    width: 100%;
    height: 10%;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .25rem;
}

#cvName {
    font-size: 1.4rem;
}

#cvRightSide {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
}

.blueText {
    color: #1d89d1;
}

.cvContainer {
    width: 100%;
    height: auto;
}

.cvSectionHeader {
    font-size: 1.55rem;
}

.cvBox {
    width: 100%;
    height: auto;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.jobAndSchoolName {
    font-weight: bold;
    font-size: 1.1rem;
}

.subText {
    font-style: italic;
    font-size: .9rem;
}
