.inputBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
}

.formClass {
    display: flex;
    flex-direction: column;
}