.inputBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    border: 2px solid red;
}

.formClass {
    display: flex;
    flex-direction: column;
}

#workExperienceContainer {
    width: 100%;
    height: auto;
    font-size: .75rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}