
.formClass {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.inputHeader {
    font-size: 1.5rem;
}

.inputContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: #f0f0f0;
    padding: .25rem;
    border-radius: 1rem;
}

.inputFormContainer {
    background-color: #adaca8;
    padding: 1rem;
    border-radius: 1rem;
}